a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

@import 'blocks/header.scss';
@import 'blocks/discography.scss';
