.header {
  &__block {
    height: 50px;
  }
  &__title {
    height: 40px;
    margin: 0;
    z-index: 10;
    background-color: #fffb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
  }
}
